
body {
  background-color: rgb(36, 36, 36);
  font-family: Arial, Helvetica, sans-serif;
}

.main_container {
  background-color: rgb(92, 92, 92);
  margin: auto;
  border: 1px;
  width: fit-content;
  height: fit-content;
  border-radius: 7px;
  box-shadow: 0px 0px 3px 2px rgb(139, 139, 139);
}

.calc_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.calc_container > hr {
  height: 5px;
  margin: 5px;
  border-radius: 2px;
  background-color: rgb(230, 230, 230);
  border: none;
}

.pad_btn {
  margin: 2px;
  width: 1.5cm;
  height: 0.8cm;
  border: none;
  border-radius: 5px;
}

.pad_btn:hover {
  background-color: rgb(57, 63, 57);
}

.pad_num {
  background-color: rgb(49, 49, 49);
}

.pad_op {
  background-color: rgb(32, 32, 32);
}

.pad_btn > p, .pad_btn > svg {
  margin: 0;
}

.pad_btn > p, .pad_btn > p > span {
  font-size: medium;
  font-weight: 300;
  color: white;
}

.mem_op {
  height: 25px;
  width: 35px;
  font-size: small;
}

.mem_op:disabled, .mem_op:disabled:hover {
  background-color: rgb(163, 163, 163);
}

.mem_op:hover {
  background-color: rgb(255, 255, 255)
}

.pad_row {
  display: flex;
  flex-direction: row;
}

.display_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(224, 224, 224);
  margin: 15px 4px 15px 4px;
  padding: 5px 5px;
  border-radius: 5px;
  height: 2.1cm;
  box-shadow: 0 0 2px 2px rgba(207, 207, 207, 0.40);
}

.secondary_display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgb(151, 151, 151);
  text-align: end;
}

.secondary_display > h4 {
  display: flex;
  text-align: left;
  margin: 10px 0px 10px 10px;
}

.main_display {
  color: rgb(77, 77, 77);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main_display > h2 {
  margin: 0px;
  text-align:end;
}

.mem_display {
  height: 15px;
  margin: 0;
}

.mem_display > h5 {
  margin: 0;
}